/* CSS common to all pages */

*{
    border: 0;
    margin: 0;
    padding: 0;
}

.orangeButton{
    color: white;
    background-color: orange;
}

.socio-links{
    max-height: 20px;
    max-width: 20px;
}

#newsletter{
    text-align: center;
    margin-top: 10%;
}

.redLabel{
    color: red;
}

.orangeTheme{
    color: orange;
}

.greyTheme{
    color: grey;
}

/* index.html CSS */
#main-section{
    margin-top: 5%;
}

#content-column{
    background-color: black;
  }
  
#image-column{
    position: relative;
    background-size: cover;
    padding-top: 5%;
    max-height: 100%;
    max-width: 100%;
}
  
  #content{
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
  }


/* projects.html CSS */
#projects-container{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}